.RegisterProgramItem {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 1px solid white;
    text-align: center;
    line-height: 100px;
    color: white;
}

.RegisterProgramItemBtn > button:nth-child(1) {
    width: 70px;
    height: 30px;
    background-color: blue;
    border-radius: 30px;
    color: white;
}
.RegisterProgramItemBtn > button:nth-child(2) {
    width: 70px;
    height: 30px;
    background-color: red;
    border-radius: 30px;
    color: white;
}