.RegisterSituationMain {
    width: 90%;
    height: 75vh;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid white;
    border-radius: 30px;
    
}

.RegisterSituationTitle {
    width: 100%;
    height: 60px;
     border-radius: 30px 30px 0 0;
    background-color: #4B5563;
}

.RegisterSituationTitle > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    line-height: 60px;

}


.RegisterSituationTitle > ul > li {
    font-size: 18px;
    color: white;
}