.AttendItem {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    text-align: center;
    line-height: 100px;

    color: white;


    overflow-y: auto;
    overflow-x: hidden;

  /* 스크롤바 숨기기 */
    -ms-overflow-style: none;  
    scrollbar-width: none;   
}


.AttendItemBtn > button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: #60A5FA;
}