.AttendNav {
    width: 90%;
    height: 15vh;
    background-color: #1F2937;
    border: 1px solid white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}


.AttendNav > h3 {
    color: white;
    font-size: 20px;
    padding-left: 30px;
}

.AttendNav > input {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    margin-left: 30px;
    background-color: #4B5563;
    padding-left: 10px;
    color: white;
}

