.AttendMain {
    width: 90%;
    height: 60vh;
    border: 1px solid white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;
}

.AttendMainTitle {
    width: 100%;
    height: 60px;
    background-color: #4B5563;
    border-radius: 30px 30px 0 0;
}

.AttendMainTitle > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: white;
    line-height: 60px;
}