.RegisterSituationItem {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    color: white;

    overflow-y: auto;
    overflow-x: hidden;

    /* 스크롤바 숨기기 */
    -ms-overflow-style: none;  
    scrollbar-width: none;     
}




