.AttendStudentItem {
    width: 100%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    line-height: 100px;
    color: white;
    border-bottom: 1px solid white;
}

.AttendStudentItemBtn > button {
    width: 70px;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: #60A5FA;
}