.AttendPopUp {
    width: 500px;
    height: 650px;
    background-color: #2A3855;

      position: fixed; /* 화면 전체 기준 */
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%); /* 가운데로 이동 */

  z-index: 3;
  border-radius: 10px;

  color: white;
}


.AttendPopUpTitle {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid white;
    align-items: center;
}


.AttendPopUpTitle > h1 {
    padding-left: 20px;
}

.AttendPopUpTitle > h2 {
    padding-right: 30px;
    cursor: pointer;
}

.AttendPopUpContent {
    width: 90%;
    height: 20%;
    margin: 0 auto;
    margin-top: 10px;
    background-color: #123458;
}

.AttendPopUpContentDiv {
    width: 100%;
    height: 60%;
    border-bottom: 1px solid white;

}

.AttendPopUpContentDiv > ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  text-align: center;
  height: 100%; /* ← 높이 기준 확보 */
}



.AttendPopUpContent > div > ul > li {
    line-height: 60%;
}

.AttendPopUpContentDate {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: start;
    align-items: center;
}

.AttendPopUpContentDate > h3 {
    padding-left: 30px;
}

.AttendPopUpContent2 {
    width: 90%;
    height: 20%;
    margin: 0 auto;
    margin-top: 20px;
}


.AttendPopUpContent2 > div {
    display: flex;
    justify-content: space-between;
}
.AttendPopUpContent2 > div > button {
    width: 100px;
    height: 60px;
    border: 1p solid black;
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 60px;
    background-color: #182756;
}

.AttendPopUpContent3 {
    width: 90%;
    height: 30%;
    margin: 0 auto;
}

.AttendPopUpInput {
  width: 100%;
  height: 70%;
  background-color: #777676;
  color: white;
  padding-top: 5px; /* ← 텍스트를 위로 밀착 */
  resize: none; /* 크기 조절 막기 (선택) */
  border: 1px solid black;
  border-radius: 30px;
  margin-top: 10px;
}

.AttendPopUpBtn {
    display: flex;
    justify-content: end;
    align-items: center;
}

.AttendPopUpBtn > button {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #3BB2F6;

}