.AttendStudentMain {
    width: 90%;
    height: 60vh;
    border: 1px solid white;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 30px;

    overflow-y: auto;
    overflow-x: hidden;

  /* 스크롤바 숨기기 */
    -ms-overflow-style: none;  
    scrollbar-width: none;  
    
    
}

.AttendStudentMainTitle {
    width: 100%;
    height: 60px;
    border-radius: 30px 30px 0 0;
    background-color: #4B5563;
}

.AttendStudentMainTitle > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    color: white;
    line-height: 60px;
}