.AttendHead {
    width: 90%;
    height: 10vh;
    border-bottom: 1px solid white;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    line-height: 10vh;
}


.AttendTitle {
    color: white;

}

.AttendBtn > button:nth-child(1) {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-color: #3B82F6;
    font-size: 20px;
    color: white;
}
.AttendBtn > button:nth-child(2) {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: #4B5563;
    font-size: 20px;
    color: white;
}