.AdminListMainItem {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 100px;
}

.AdminListMainItemBtn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.AdminListMainItemBtn >button {
    width: 70px;
    height: 30px;
    background-color: red;
    color: white;
    border-radius: 30px;
}