.table {
    width: 90%;
    height: 60vh;
    border: 1px solid white;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 30px;
}

.table-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid white;
    background-color: #4B5563;
    border-radius: 30px 30px 0 0;
}

.table-header > ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    line-height: 60px;
    color: white;
    
}