.StudentRegisterBox {
    width: 90%;
    height: 70vh;
    border: 1px solid white;
    border-radius: 30px;
        margin: 0 auto;
        margin-top: 40px;
}

.StudentRegisterBoxTitle {
    width: 100%;
    height: 60px;
    border-radius: 30px 30px 0 0;
    background-color: #4B5563;
    border-bottom: 1px solid white;

}

.StudentRegisterBoxTitle > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    line-height: 60px;
    font-weight: bold;
    color: white;
    
}