* {
    list-style: none;
}

.SideList > ul {
    padding-top: 50px;
    display: flex;
    flex-direction: column; /* 세로 정렬일 경우 */
}

/* 기본 li 스타일 (처음 상태) */
.SideList > ul > li {
    width: 100%;
    height: 50px;;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

/* 클릭된 li에만 적용될 스타일 */
.SideList > ul > li.ClickLi {
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    border-right: 8px solid blue;
    border-bottom: 1px solid blue;
}
