.StudentRegisterItem {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    line-height: 100px;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.StudentRegisterItemBtn > button {
    width: 70px;
    height: 30px;
    border-radius: 10px;
    color: white;
    background-color: #3DA0CB;
}