.AdminListMain {
    width: 90%;
    height: 55vh;
    border-radius: 30px;
    border: 1px solid white;
    background-color: #1f2937;
    margin: 0 auto;
    margin-top: 20px;

      overflow-y: auto;
  overflow-x: hidden;

  /* 스크롤바 숨기기 */
  -ms-overflow-style: none;  
  scrollbar-width: none;    
}

.AdminListMainTitle {
    width: 100%;
    height: 60px;
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid white;
    background-color: #4B5563;
}

.AdminListMainTitle > ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    line-height: 60px;
    color: white;
    font-weight: bold;
}