.ImpormationMain {
    width: 90%;
    height: 540px;
    border: 1px solid white;
    margin: 0 auto;
    border-radius: 20px;
    margin-top: 50px;
    background-color: #1F2937;
}

.ImpormationMainTitle {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid white;
    line-height: 60px;
}

.ImpormationMainTitle >h2 {
    padding-left: 20px;
    color: white;
}

.ImpormationContent {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.ImpormationContent > * {
    color: white;
    padding-left: 20px;

}

.ImpormationContent:nth-child(5) {
    width: 100%;
    height: 120px;
    border: none;
}

/* ===========================
   ImpormationMain (맥북14프로 대응)
=========================== */
@media screen and (max-width: 1512px){
  .ImpormationMain {
    width: 90%;
    height: 480px;
    margin-top: 40px;
    border-radius: 16px;
    padding: 15px;
    box-sizing: border-box;
  }

  .ImpormationMainTitle {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid white;
    line-height: 50px;
  }

  .ImpormationMainTitle > h2 {
    font-size: 18px;
    padding-left: 15px;
    color: white;
    margin: 0;
  }

  .ImpormationContent {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
  }

  .ImpormationContent > * {
    color: white;
    padding-left: 15px;
    font-size: 14px;
    margin: 0;
  }

  .ImpormationContent:nth-child(5) {
    width: 100%;
    height: 100px;
    border: none;
  }

  .ImportantBtn {
    display: flex;
    justify-content: end;
    margin-top: 20px;
  }

  .ImportantBtn > button {
    width: 150px;
    height: 50px;
    font-size: 17px;
    border-radius: 10px;
    background-color: chartreuse;
    font-weight: bold;
    
  }
}
